@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
}

.title {
  font-weight: bolder;
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-bottom: -10px;
}

.country {
  font-weight: bolder;
  color: rgb(123, 181, 37);
  display: flex;
  justify-content: center;
  margin: 15px 130px 0px 130px;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.country:hover {
  color: rgb(169, 245, 56);
}

.aboute-me {
  margin-top: 20px;
  color: white;
  font-size: 12px;
}

.img1 {
  position: relative;
  max-width: 100px;
  min-width: 30%;
  border-radius: 50%;
  transition: border 0.3s;
  transition: border-radius 0.5s;
}

.img1:hover {
  border: 2.5px solid greenyellow;
  border-radius: 30%;
}

.main_table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 40px 0 40px 0;
  max-width: 375px;
  border-radius: 10px;
  border: 2px solid rgba(172, 255, 47, 0.534);
  text-align: center;
  backdrop-filter: blur(5px);

  z-index: 2;
  transition: border 0.3s;
}

.main_table:hover {
  border: 2px solid rgba(172, 255, 47);
}

.fluid-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  z-index: 1;
}

.button-link {
  background-color: rgba(75, 75, 75, 0.514);
  transition: all 0.3s;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  display: inline-table;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  min-width: 300px;
  max-width: 300px;
  margin: 10px 30px 0px 30px;
}

.button-link:hover {
  border: 3px solid greenyellow;
  background-color: rgba(54, 70, 31, 0.815);
  color: rgb(172, 212, 26);
}

.attribution {
  color: aliceblue;
  font-size: 11px;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.green {
  color: greenyellow;
}
